footer {
  text-align: center;
  font-size: 14px;
  padding-bottom: 0.75rem;

  a {
    font-size: 14px;
    color: var(--color-primary);
    transition: all 0.3s;

    &:hover {
      opacity: 0.8;
    }
  }
}
