@use 'src/assets/styles/mixins' as *;

/* HEADER */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  color: var(--color-white);

  @include desktop-sm {
    width: 50%;
    margin: 0 auto;
  }

  h1 {
    letter-spacing: 1rem;
  }

  .btn-theme {
    background: none;
    border: none;

    &__icon {
      background: var(--icon-theme) no-repeat center center;
      background-size: rem(24);
      width: rem(40);
      height: rem(40);
    }
  }
}

/* TODO */

.todo {
  background-image: var(--background-mobile);
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 90vh;

  padding: rem(56) rem(24);

  @include desktop-sm {
    background-image: var(--background-desktop);
  }

  &__card {
    background: var(--card-background-color);
    margin-top: rem(24);
    border-radius: rem(5);
    box-shadow: 0px 8px 16px -2px var(--card-shadow-color);

    @include desktop-sm {
      width: 50%;
      margin: 0 auto;
      margin-top: rem(24);
    }
  }

  &__list {
    list-style: none;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: rem(20) rem(24);
    border-bottom: 1px solid var(--card-border-color);

    cursor: pointer;

    &__checkbox {
      display: flex;
      gap: rem(45);
    }

    .item-completed {
      text-decoration: line-through;
      color: var(--item-completed);
    }
  }

  &__delete {
    background: none;
    border: none;
    font-size: 0;
    transition: all 0.2s;

    img {
      width: rem(14);
      height: rem(14);
    }

    @include desktop-sm {
      display: none;
    }
  }

  &__item:hover &__delete {
    display: initial;
  }

  &__info {
    padding: rem(20) rem(24);
    font-size: rem(14);
    color: var(--filter-text-color);
    font-size: rem(12);

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__clear {
    background: none;
    border: none;

    color: var(--filter-text-color);
    font-weight: 400;
    transition: all 0.3s;

    &:hover {
      color: var(--filter-hover-color);
    }

    @include desktop-sm {
      font-size: rem(12);
    }
  }

  &__filter {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    &-group {
      margin-top: 1rem;
      border-radius: rem(5);
      padding: rem(20) rem(24);
      background: var(--card-background-color);
      box-shadow: 0px 2px 10px -2px var(--card-shadow-color);

      @include desktop-sm {
        display: none;
      }
    }

    &--desktop {
      display: none;

      @include desktop-sm {
        display: flex;
      }
    }

    button {
      border: none;
      background: none;
      color: var(--filter-text-color);
      font-weight: 700;
      transition: all 0.3s;
      font-size: rem(12);

      &.active {
        color: var(--color-primary);
      }

      &:hover {
        color: var(--color-primary);

        @include desktop-sm {
          color: var(--filter-hover-color);
        }
      }
    }
  }
}

/* FORM  */

.form {
  position: relative;
  margin-top: rem(24);

  @include desktop-sm {
    width: 50%;
    margin: 0 auto;
    margin-top: rem(24);
  }

  .input {
    background: var(--card-background-color);

    width: 100%;
    padding: rem(20) rem(24);
    padding-left: rem(70);
    border: none;
    border-radius: rem(5);
    font-weight: 400;

    &::placeholder {
      color: var(--placeholder-color);
      font-weight: 400;
      font-size: 1em;
    }
  }

  .circle {
    position: absolute;
    top: 25%;
    left: rem(25);

    width: rem(25);
    height: rem(25);
    border-radius: 50%;
    border: 1px solid var(--color-gray-300);
  }
}
